h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}
a{
  color:#fff;
}
a:hover{
  color:#fff;
}
.logo{
  display:block;
  width:248px;
  margin:58px auto;
}
.logo .meteor{
  display:block;
  height:58px;
  margin-bottom:11px;
  background: url("/img/meteor-logo-white.png") no-repeat center center;
  color:transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.logo .london{
  display:block;
  padding-left:20px;
  font-family:'Roboto', sans-serif;
  font-size:28px;
  letter-spacing:15px;
  text-transform:uppercase;
  color:#3C5471;
}
.logo.dark .meteor{
  background-image:url("/img/meteor-logo-black.png");
}
.logo.dark .london{
  color:#151515;
}
.logo a{
  text-decoration:none;
}
