body.home {
  margin: 0;
  text-align:center;
  background:#eeefef;
}
.home #hero {
  background: #000 url(/img/bg.jpg);
  background-size: cover;
  min-height: 100%;
  overflow: auto;
}
.home #logo {
  position: absolute;
  top: 20vh;
  width: 100%;
  text-align: center;
}
.home #register {
  margin-top: 10px;
}
.home #logo h1 {
  position: relative;
  font-size: 40px;
  font-family: 'Raleway Dots', serif;
  font-weight: normal;
  line-height: 100px;
  color: #fff;
  margin: 0;
}
.home h1,h2,h3,h4,h5 {
  color: #fff;
}
.home p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #fff;
  opacity: 0.8;
  margin-top: 0;
}
.home .us {
  display:none;
  padding-top:4px;
  margin-bottom:100px;
}
.home .us img {
  box-shadow: 0px 0px 1px #000;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.8;
  transition: opacity 0.25s ease-in;
  padding: 4px;
  background-color: #fff;
}
.home .us img:hover {
  opacity: 1;
}
.home p.lead{
  color:gold;
  font-family: 'Raleway Dots', serif;
  font-weight:600;
}
.home #date{
  margin-top:-86px;
  text-align:center;
}
.home section.copy{
  margin-top:50px;
}
.home .copy h2,
.home .copy p{
  color:#222;
}
.home .copy p{
  font-weight:400;
  font-size:20px;
}
.home .invert h2,
.home .invert p{
  color:#fff;
}
.home .cal{
  display: inline-block;
  width:130px;
  color:#444;
  text-align:center;
  border-radius:3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin:0 auto;
  background:#2c3e50;
  border:solid 4px #fff;
}
.home .cal .day,
.home .cal .month,
.home .cal .year{
  display: block;
}
.home .cal .day{
  font-size: 58px;
  background: #fff;
}
.home .cal .month,
.home .cal .year{
  color:white;
  font-size: 20px;
  font-family: 'Raleway Dots', serif;
}
.home .ticket{
  max-width:500px;
  display: block;
  margin: 65px auto 0;
}
.home .ticket img{
  width:100%;
}
.home .leftbox{
  background: #222;
}
.home .leftbox{
  text-align:left;
  max-width: 600px;
  padding: 1px 36px 50px 50px;
}
.home .leftbox h1{
  font-family: 'Raleway Dots', serif;
  font-size:60px;
  border-bottom:solid white 4px;
  text-shadow:
   0 -3px 0 #222,
   0  3px 0 #222,
   2px 0 0 #222,
  -2px 0 0 #222,
   0  2px 0 #222,
   0 -2px 0 #222,
   2px 0 0 #222,
  -2px 0 0 #222,
   0  2px 0 #222,
   0 -2px 0 #222,
   1px  1px #222,
  -1px -1px 0 #222,
   1px -1px 0 #222,
  -1px  1px 0 #222;
}
.home .leftbox p {
  font-weight: 200;
  font-size:16px;
}
.home footer{
  margin-top:100px;
  background:#222;
  line-height:3em;
  letter-spacing:1px;
}
.home footer p{
  margin-bottom:0;
}
.home footer a{
  color:gold;
}

@media screen and (min-width:600px) {
  .home #logo h1 {
    font-size: 84px;
  }
  .home .us{
    display:block;
  }
  .home #details{
    background:url("http://photos1.meetupstatic.com/photos/event/a/5/c/0/highres_365502432.jpeg") no-repeat right center;
  }
}
@media screen and (min-width:1524px) {
  .home #details{
    background-size:calc(100% - 500px) auto;
  }
}
