body.home {
  margin: 0;
  padding:0 20px;
  text-align:center;
  background:#eeefef;

}
body.home{
  /* background:url("/img/bg.jpg") no-repeat top right; */
}
.home nav{
  display:block;
  padding-top:1px;
  background:#102136;
}
@media screen and (min-width: 768px) {
  .home nav{
    padding-top:0px;
    position: fixed;
    top:0;
    left:0;
    width: 386px;
    min-height: 300%;
  }
  body.home{
    margin-left:386px;
  }
}
.home nav .item{
  display:block;
  color:#B3C3D7;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  line-height:40px;
  padding: 0 0 0 50px;
  text-align:left;
}
.btn-ticket{
  display:block;
  border:solid white 5px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size: 32px;
  line-height:70px;
  color:white;
  text-transform:uppercase;
  margin: 63px auto;
  width:300px;
}
.btn-ticket small{
  display:block;
  font-weight:200;
  font-size:23px;
}
nav .btn-ticket{
  margin: 63px 40px;
  width:auto;
}
h1{
  font-weight:600;
}
.home #register {
  margin-top: 10px;
}
#next label{
  color: #fff;
  font-size:39px;
  font-weight:600;
  font-family: 'Titillium Web', sans-serif;
}

.home p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #fff;
  opacity: 0.8;
  margin-top: 0;
}
.home .us {
  display:none;
  padding-top:4px;
  margin-bottom:100px;
}
.home .us img {
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.8;
  transition: opacity 0.25s ease-in;
  padding: 4px;
  background-color: #fff;
  width:100px;
  height:100px;
}
.home .us img:hover {
  opacity: 1;
}
.home p.lead{
  color:gold;
  font-family: 'Raleway Dots', serif;
  font-weight:600;
}
.home #date{
  margin-top:-86px;
  text-align:center;
}
.home section.copy{
  margin-top:50px;
}
.home .copy h2,
.home .copy p{
  color:#222;
}
.home .copy p{
  font-weight:400;
  font-size:20px;
}
.home .invert h2,
.home .invert p{
  color:#fff;
}
.home .cal{
  vertical-align:middle;
  display: inline-block;
  width:130px;
  color:#444;
  text-align:center;
  border-radius:3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin:0 auto;
  background:#2c3e50;
  border:solid 4px #fff;
}
.home .cal .day,
.home .cal .month,
.home .cal .year{
  display: block;
}
.home .cal .day{
  font-size: 58px;
  background: #fff;
}
.home .cal .month,
.home .cal .year{
  color:white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.home .leftbox{
  background: #222;
}
.home .leftbox{
  text-align:left;
  max-width: 600px;
  padding: 1px 36px 50px 50px;
}
.home .leftbox h1{
  font-family: 'Raleway Dots', serif;
  font-size:60px;
  border-bottom:solid white 4px;
  text-shadow:
   0 -3px 0 #222,
   0  3px 0 #222,
   2px 0 0 #222,
  -2px 0 0 #222,
   0  2px 0 #222,
   0 -2px 0 #222,
   2px 0 0 #222,
  -2px 0 0 #222,
   0  2px 0 #222,
   0 -2px 0 #222,
   1px  1px #222,
  -1px -1px 0 #222,
   1px -1px 0 #222,
  -1px  1px 0 #222;
}
.home .leftbox p {
  font-weight: 200;
  font-size:16px;
}
.home footer{
  margin-top:100px;
  line-height:3em;
  letter-spacing:1px;
}
.home footer p{
  margin-bottom:0;
}
.home footer a{
  color:gold;
}

@media screen and (min-width:600px) {
  .home #logo h1 {
    font-size: 84px;
  }
  .home .us{
    display:block;
  }
  .home #details{
    background:url("http://photos1.meetupstatic.com/photos/event/a/5/c/0/highres_365502432.jpeg") no-repeat right center;
  }
}
@media screen and (min-width:1524px) {
  .home #details{
    background-size:calc(100% - 500px) auto;
  }
}
